<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<!--<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      (click) = "onSelect(hero)"
      [class.selected] = "hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>-->
<h2>DOTA2_MATCH_DETAILS</h2>
<ul class="heroes players" *ngIf="players">
  <!--<li *ngFor="let player of players">-->
    <!--<span class="badge">{{player.hero_name}}</span> {{player.username}}-->
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Player</th>
          <th>Hero</th>
          <th>K/D/A<br/>KDA</th>
          <th>Damage</th>
          <th>LH/DN</th>
          <th>GPM</th>
          <th>XPM</th>
          <th>TD</th>
          <th>HH</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <th><a><img src = "{{player.image_sm}}"></a></th>
          <th>{{player.username}}</th>
          <th><a><img class="img img-sm" src = "http://cdn.dota2.com/apps/dota2/images/heroes/{{player.hero_image_name}}_hphover.png"><br/>{{player.level}}</a></th>
          <th>{{player.kills}}/{{player.deaths}}/{{player.assists}}<br/>{{player.KDA}}</th>
          <th>{{player.hero_damage}}</th>
          <th>{{player.last_hits}}/{{player.denies}}</th>
          <th>{{player.gold_per_min}}</th>
          <th>{{player.xp_per_min}}</th>
          <th>{{player.tower_damage}}</th>
          <th>{{player.hero_healing}}</th>
        </tr>
      </tbody>
    </table>
  <!--</li>-->
</ul>
<hero-detail [hero]="selectedHero"></hero-detail>
