<div class="container theme-showcase">
  <a *ngIf="personalInfo">
    <img src="{{personalInfo.avatarmedium}}" class="img-circle img-thumbnail img-responsive center-block">
    <h3 class="text-center">{{personalInfo.personaname}}</h3>
  </a>
  <div *ngIf="matchesHistory">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="text-center">
          <th>Hero</th>
          <th>Match Id</th>
          <th>End time</th>
          <th>Result</th>
          <th>KDA(K/D/A)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matchesHistory" (click)="goMatch([match.match_id])" class="eachMatch">
          <th>
            <a>
              <img alt="{{match.hero_name}}" height="36px" src="{{match.hero_image}}">
              &nbsp;{{match.hero_name}}
            </a>
          </th>
          <th>{{match.match_id}}</th>
          <th>{{match.format_end_time}}</th>
          <th>
            <div *ngIf="match.game_win; else failBlock">Win</div>
            <ng-template #failBlock>Failure</ng-template>
          </th>
          <th>{{match.KDA}}&nbsp;({{match.kills}}/{{match.deaths}}/{{match.assists}})</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
